.container {
  display: grid;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1190px;
  padding: 0 20px;
  grid-template-columns: repeat(1, 1fr);
  font-size: 1.9rem;
  gap: 30px;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 20px;
    gap: 40px;
    margin-top: 50px;
  }
}
