.hero {
  position: relative;
  width: 100vw;
  background-color: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('/shop_cta_xl_896f6b8270.webp');
  background-position: center;
  height: 70vh;
  background-size: cover;
  margin-top: -200px;
}
.header {
  display: flex;
  flex-direction: column;
  position: absolute;
  color: var(--color-pink);
  top: 35vh;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  right: 0;
  left: 0;
  max-width: 450px;
  text-align: center;
  gap: 20px;
}
.header > .title {
  color: var(--color-pink);
  font-size: 3.8rem;
  line-height: 45px;
  font-weight: 600;
  letter-spacing: 4px;
}
.desc {
  color: var(--color-pink);
  font-size: 1.8rem;
  font-weight: 300;
}
.title:hover,
.desc:hover {
  color: var(--color-pink);
}
.arrow {
  position: absolute;
  bottom: 25px;
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  z-index: 2;
  margin: 0 auto;
  animation: move 1s infinite ease alternate;
}
@keyframes move {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(5px);
  }
}
.banner {
  height: 400px;
  width: 100%;
  position: relative;
  margin-top: 40px;
}
.banner > img {
  object-fit: cover;
}
.bannerText {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  gap: 1px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
.bannerText,
.title {
  font-size: 3.8rem;
  line-height: 45px;
  font-weight: 600;
  letter-spacing: 4px;
}
.bannerBody {
  font-size: 1.9rem;
  font-weight: 300;
}
.bannerText,
.title,
.body {
  color: var(--color-dark);
}
.bannerText,
.title:hover,
.body:hover {
  color: var(--color-dark);
}

@media screen and (min-width: 768px) {
  .hero {
    height: 85vh;
    margin-top: -100px;
  }
  .header {
    top: 40vh;
  }
  .banner {
    height: 500px;
    width: 100%;
    position: relative;
    margin-top: 40px;
  }
}
